/* Reset & base style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}
/* Layout dùng chung */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;

}
/* Header & Navigation */
.header {
    border-bottom: 2px solid #000;
    background-color: #c95555;
    position: sticky;
    top: 0;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list a {
    font-weight: 500;
}

.nav-list a:hover {
    text-decoration: underline;
}

/* Home section */
.hero {
    padding: 20px 10px;
    background-color: #8a2b2b;
}
.hero h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color:#f0e9e9;
}

.hero p {
    color: #dbd3d4;
    height: 30px
}

/* Section 2 card */
.features {
    padding: 60px 0;
    background-color: #e6bf8a;
    height: auto;
    width: 100%;
}

.features-grid {
    display: flex;
    justify-content: center;
}


/* Card */
.coffee-types {
    width: 85%;
    min-height: 350px;
    height: auto;
    border: 2px solid #8b5a2b;
    border-radius: 12px;
    padding: 25px;
    text-align: left;
    background-color: #9c5c5c;
    margin: 0 auto;
    display: flex;
    margin-bottom: 60px ;
}
.coffee-text {
    flex: 1;
}

.coffee-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.coffee-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    width: 100%;
}
.coffee-title {
    font-size: 30px;
    color: #d6bf29;
    text-align: center;
}


.coffee-attribute h4 {
    color: #deac97;
    font-size: 20px;
}

.coffee-attribute li {
    color: #e0dad7;
    padding-left: 50px;
    list-style: none;
}
.coffee-attribute p {
    color: #e0dad7;
}


/* Footer */
.footer {
    border-top: 2px solid #000;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #555;
}


